<div class=" container-fluid">
  <div class="row m-top-min">
      <div class="col-lg-2 col-3">
    <a href="/"><img class="logo" src="https://res.cloudinary.com/aseed/image/upload/v1584958107/icc/LOGO-BLANC_lbmdtm.png" alt=""></a>
  </div>
  <div class="col-lg-10 col-9 align-self-center">
    <ul class="nav float-right">
      <li class="nav-item active">
        <%=link_to "Prier", new_creneau_path, class:"nav-link" %>
      </li>
      <% if membre_signed_in?%>
      <li class="nav-item">
        <a class="nav-link" href="creneaus/">Historique</a>
      </li>
      <li class="nav-item">
        <%=link_to "Modifier mes informations", edit_membre_registration_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
      <%= link_to "Déconnexion", destroy_membre_session_path, class:"nav-link" %>
      </li>
      <% else %>
      <li class="nav-item">
        <%=link_to "Connexion", new_membre_session_path, class:"nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
  </div>
</div>