<%=render 'menus/sticky' %>
<div class="container-fluid intro" id="intro">
  <div class="row">
    <div class="col-lg-6 offset-lg-1 m-top text-white">
      <h1 class="section c-titre text-maj">
        Prions ensembles même <br>en temps de crise.
        
      </h1>
      <p class="paragraphe">
        Créer des créneaux et priez avec nous tous les jours pendants 24h
      </p>
      <%= link_to "Commencer un creneau", new_creneau_path, class:"btn btn-icc text-maj text-bold btn-lg" %>

    </div>
  </div>
</div>